@page "/Create_test"

@using Shared.DB.Classes.Test.Task
@using Shared.Extensions
@using Mytest =  Shared.DB.Classes.Test.Test

@rendermode InteractiveServer


<h3 class="text-center">Новый тест</h3>
  
<div class="input-group input-group-lg" style="max-width: max-content">
    <span class="input-group-text" id="basic-addon1" ></span>
    <input type="text" class="form-control"  placeholder="Введите название" aria-label="Введите название" aria-describedby="basic-addon1">
</div>



<div class="container mt-5">
    @for (int i = 1; i <= @max; i++)
    {

        <div class="d-flex justify-content-center row">
            <div class="card mb-3" style="border-radius: 5px  ; border-color: #00003A; background-color: #EFF4FF; -webkit-text-fill-color: #00003A;">
                <div class="col-md-10 col-lg-10">

                    <div class="d-flex flex-row justify-content-between  align-items-center mcq">
                        <h4 >Задание @i</h4><span>(@i of @max)</span>
                    </div>
                </div >
                <div class="input-group input-group-md" >
                    <span class="input-group-text" id="basic-addon1"></span>
                    <input type="text" class="form-control" placeholder="Введите задание" aria-label="Введите задание" aria-describedby="basic-addon1">
                </div>
                <div class="input-group input-group-sm mb-3" style="max-width: max-content">
                                        <span class="input-group-text" id="inputGroup-sizing-sm">кол-во</span>
                                        <input type="text" class="form-control" placeholder="Количество вопросов" aria-describedby="inputGroup-sizing-sm" @bind="questionCount">
                                    </div>
                <div class="question p-3 border-bottom">
                    
                    
                    @for (int j = 0; j < int.Parse(questionCount); j++)
                    {
                        <div class="input-group input-group-sm mb-3" style="max-width: max-content">
                            <span class="input-group-text" id="inputGroup-sizing-sm">@(j + 1)</span>
                            <input type="text" class="form-control" aria-label="Введите вопрос" aria-describedby="inputGroup-sizing-sm">
                        </div>
                    }

                </div>
            </div>

        </div>
    }
    <div class="d-flex justify-content-end">
        <button class="btn btn-outline-primary" style="border-radius: .5rem; border-color: #00003A; background-color: #EFF4FF; --bs-btn-color: #00003A; height: 40px;" type="button" @onclick="cringe"> + @max </button>
    </div>
    
    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        +
      </a>
    
      <ul class="dropdown-menu">
          <li><a class="dropdown-item" @onclick="sss">@InteractionType.ShortStringTask.TaskTypeToString()</a></li>
          <li><a class="dropdown-item" href="#">@InteractionType.LongStringTask.TaskTypeToString()</a></li>
          <li><a class="dropdown-item" href="#">@InteractionType.OneVariantTask.TaskTypeToString()</a></li>
          <li><a class="dropdown-item" href="#">@InteractionType.ManyVariantsTask.TaskTypeToString()</a></li>
          <li><a class="dropdown-item" href="#">@InteractionType.SqlQueryTask.TaskTypeToString()</a></li>
      </ul>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-start" style="height: 40px; -webkit-text-fill-color: #00003A">
        <button class="btn btn-outline-primary" style="border-radius: .5rem; border-color: #00003A; background-color: #EFF4FF; --bs-btn-color: #00003A; height: 40px;" type="button">Сохранить</button>
    </div>
</div>



@code {
    
    string task2 = "Как правильно разводить водицу?";
    string task1 = "Вилкой раз или в жопу раз?";
    string task3 = "Что делать, если твой друг нарик?";
    int max = 1;
    private string questionCount = "1";
    private List<string> questions = new List<string>();

   
    private void cringe()
    {
        max++;
        InvokeAsync(StateHasChanged);
    }
    
    private void cringe1(int j)
    {
        j++;
        InvokeAsync(StateHasChanged);
    }
    
    private void sss()
    {
        int m;
    }
    
    private void UpdateQuestionCount()
    {
        questions.Clear(); // Очистка списка перед обновлением
        for (int i = 0; i < int.Parse(questionCount); i++)
        {
            questions.Add(""); // Добавление новых элементов в список
        }
        StateHasChanged();
    }

} 