@page "/my_tests"
@attribute [Authorize, AuthorizeLevel(AccessLevel.Exists)]

@using MyTest = Shared.DB.Test.Test;
@using Shared.DB.User
@using QRCoder
@using System.IO
@inject ApiService _ApiService
@inject NavigationManager _navigationManager
@inject ILogger<MyTests> _logger
<div class="container-center">
    <button class="btn btn-baza" style="box-shadow: none" type="button" @onclick="NavigateToCreateTest">Создать новый тест</button>
</div>


<div class="text-success" style="border-color:  #00003A; height: 1px">
    <hr>
</div>
2
<div style="padding: 25px">
    <h2 class="text-center">Тесты</h2>
    <h1> </h1>
</div>

@if (Tests.Count == 0)
{
    <p>No available tests</p>
}
else
{
    
    <div class="container-center">
    <div class="card mb-3 cloud" style="border-radius: 30px; box-shadow: 0 0 20px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.2); background-color: #FFFFFF; border: 3px solid #5A2A91; padding: 25px;">
        <table class="table table-borderless justify-content-center scroll" size="auto">
            <thead>
                <tr>
                    <th scope="col" style="padding: 10px">#</th>
                    <th scope="col" style="padding: 10px">Название</th>
                    <th scope="col" style="padding: 10px">Дата создания</th>
                    <th scope="col" style="padding: 10px">Кол-во заданий</th>
                    <th scope="col" style="padding: 10px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var test in Tests)
                {
                <tr>
                    <th scope="row">@(Tests.IndexOf(test)+1)</th>
                    <td>
                        <p>
                            <a class="link-opacity-100-hover" @onclick="() => NavigateToTest(test.Id.ToString())">@test.TestName</a>
                        </p>
                    </td>
                    <td>@test.CreationTime.ToString()</td>
                    <td>@test.Tasks?.Count</td>
                    <td>
                        <button type="button" class="btn-icon" @onclick="() => ShowQrCode(test.Id)">
                            <i class="bi bi-qr-code" title="QR-код"></i>
                        </button>
                        <button type="button" class="btn-icon" @onclick="() => NavigateToTestCorrect(test.Id.ToString())">
                            <i class="bi bi-pencil" title="Изменить"></i>
                        </button>
                        <button type="button" class="btn-icon" @onclick="() => DeleteTest(test.Id)">
                            <i class="bi bi-trash3" title="Удалить"></i>
                        </button>
                        <button type="button" class="btn-icon" @onclick="() => NavigateToTestAnswers(test.Id.ToString())">
                            <i class="bi bi-bar-chart-line" title="Решения"></i>
                        </button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>


    
        
    
    }

@if (isQrModalVisible)
{
    <div class="modal show d-block" tabindex="-1" style="background-color: rgba(0, 0, 0, 0.5);">
        <div class="modal-dialog" >
            <div class="modal-content" style="background-color:#DDEBFF; border-color: #00003A">
                <div class="modal-header"  >
                    <h5 class="modal-title">QR-код для теста</h5>
                    <button type="button" class="btn-close"  aria-label="Close" @onclick="HideQrCode"></button>
                </div>
                <div class="modal-body" >
                    @if (qrCodeImage != null)
                    {
                        <img src="@qrCodeImage" alt="QR Code" style="width: 100%; height: auto;" />
                    }
                    else
                    {
                        <p>Ошибка при генерации QR-кода.</p>
                    }
                </div>
            </div>
        </div>
    </div>
}

@code {
    private List<MyTest> Tests { get; set; } = new();
    private bool isQrModalVisible;
    private string? qrCodeImage;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        try
        {
            Tests = await _ApiService.GetTests();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }

        await InvokeAsync(StateHasChanged);
    }

    private void NavigateToCreateTest()
    {
        _navigationManager.NavigateTo("/create_test");
    }

    private void NavigateToTest(string testId)
    {
        _navigationManager.NavigateTo($"test/{testId}");
    }

    private void NavigateToTestAnswers(string testId)
    {
        _navigationManager.NavigateTo($"/test_answers/{testId}");
    }
    
    private void NavigateToTestCorrect(string testId)
    {
        _navigationManager.NavigateTo($"/correctionTest/{testId}");
    }

    private async Task DeleteTest(Guid testId)
    {
        Tests.Remove(Tests.FirstOrDefault(x => x.Id == testId)!);
        await _ApiService.DeleteTest(testId);
        _logger.LogInformation($"Test with id {testId} deleted");
        await InvokeAsync(StateHasChanged);
    }

    private void ShowQrCode(Guid testId)
    {
        var testLink = _navigationManager.BaseUri + $"test/{testId}";
        qrCodeImage = GenerateQrCode(testLink);
        isQrModalVisible = true;
    }

    private void HideQrCode()
    {
        isQrModalVisible = false;
        qrCodeImage = null;
    }

    private string? GenerateQrCode(string text)
    {
        using var qrGenerator = new QRCodeGenerator();
        using var qrCodeData = qrGenerator.CreateQrCode(text, QRCodeGenerator.ECCLevel.Q);
        using var qrCode = new PngByteQRCode(qrCodeData);
        var qrCodeBytes = qrCode.GetGraphic(20);
        var imageDataUrl = $"data:image/png;base64,{Convert.ToBase64String(qrCodeBytes)}";
        return imageDataUrl;
    }
}
